.pkmList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem;
  justify-content: center;
}
.listItem {
  display: flex;
  background: rgb(196, 202, 231);
  padding: 1rem;
  border-radius: 15px;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
  height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.listItem:hover {
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.listItem > :first-child {
  color: #003a70;
}

.listItem > :last-child {
  margin: 0;
  color: #282a36;
}

.listItemIcon {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
.listItemLabelType {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: .3rem;
}
.labelType {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  border-radius: 10px;
  background: #5a5a5a;
  color: #e3e9f4;
  padding: .1rem .5rem;
  font-size: 0.6rem;
}
.listItemIconType {
  width: 0.9rem;
  height: 0.9rem;
  object-fit: contain;
}

.listItemText {
  flex-grow: 2;
}

.listItemText > :first-child {
  /*  background: -webkit-linear-gradient(
      rgba(124, 166, 252, 1) 25%,
      rgba(119, 235, 129, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  color: #003a70;
  font-size: 1rem;
  display: block;
  font-weight: bold;
}

.item {
  color: grey;
  font-weight: bolder;
  font-size: 0.8rem;
  display: block;
}
