.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  place-items: center;
  background: var(--bg-gradient-invert);
  color: #ffcb05;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.header a {
  color: #ffcb05;
  transition: all 0.2s ease-in-out 0.2s;
}
.header a:hover {
  color: #c29c05;
  /* font-size: 1.25rem; */
  scale: 1.01;
}

.SearchInput {
  font-family: "Poppins", sans-serif;
  color: #282a36;
  border-radius: 5px;
  padding: 0.55rem;
  border: 1px grey solid;
  background-color: rgba(251, 251, 251, 0.708);
}


.brand{

}

.brandSm{
  display: none;
}
@media screen and (min-width: 560px) {
  .brandSm{
    display: block;
  } 
}
