.container {
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: all 1s ease-in-out;
}

.loadingImg {
  height: 5rem;
  width: 5rem;
  animation-name: loading;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.05;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1.5;
  }
}
